/*-import VariableCSS.file-*/
@import url(../css/css-variable.css);
/*--------Global--------*/
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    font-size: 15px;
    color: var(--text-color)
}
/*--------Nav----------*/
.navbar {
    display: block;
    position: relative;
}
.nav-logo {
    position: absolute;
    top: 0.5rem;
    left: 47%;
    display: none;
}
.nav-branch {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    list-style: none;
    font-size: 0.9rem;
    transition: all 1s ease;
}
.nav-branch .nav-branch-logo,
.nav-branch .nav-items {
    position: relative;
    padding: 0rem 3rem;
    margin: 1px;
    text-align: center;
    
}
.nav-items:hover::before{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    content:" ";
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    animation-name: navItem;
    animation-duration:0.7s;
    animation-fill-mode: forwards;
    -webkit-animation-name: navItem;
    -webkit-animation-duration:0.7s;
}
.nav-active {
    display: block !important;
}
/*--------Nav-Burger----------*/
.nav-burger {
    display: none;
    position: relative;
    padding: 1.3rem 1rem;
    cursor: pointer;
}
.burger-line {
    position: relative;
    display: block;
    width: 20px;
    height: 3px;
    margin: 3px;
    background-color: black;
}
.homePage{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
.homePageBackGround {
    background-image: url(../img/homePage.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 450px;
}

@keyframes navItem{
    0% {
        height:0;
    }
    100% {
        height: 100%;
    }
}
@-webkit-keyframes navItem{
    0% {
        height:0;
    }
    100% {
        height: 100%;
    }
}
/*-------ABOUT US-------*/
.AboutUs {
    position: relative;
    display: block;
    padding: 1.5rem;
}
.AboutUsTitle {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1.5rem 1rem ;
}
.AboutUsTitle a{
    font-size: 2rem;
    color: var(--primary-color);
}
.TitleDot {
    display: block;
    border-radius: 50%;
    background-color: var(--border-color);
    width: 10px;
    height: 10px;
    margin: 1.2rem;
}
.AboutUsContainer {
    position: relative;
    padding: 0.5rem;
    height: 450px;
}
.AboutUsText {
    display:flex;
    line-height: 2rem;
    height: 500px;
}
.AboutUsText a {
    width: 30%;
    padding: 1rem;
}
.AboutUsImg {
    position: absolute;
    width: 20%;
    top: 0%;
    left: 80%;
    display: block;
}
.Img {
    position: relative;
    width: 100%;
    height: 460px;
    overflow: hidden;
}
.list{
    position: relative;
    display: flex;
    flex-direction: column;
    float: left;
}
.listImg img{
    width: 250px;
    float: left;
    padding: 0.3rem;
}
.listImg {
    width: 100%;
    display: block; 
}

/* 箭头 */
.AboutUsImg .fa-chevron-up,
.AboutUsImg .fa-chevron-down {
    position: relative;
    z-index: 2;
    width: 20px;
    height: 20px;
    font-size: 1.5rem;
    margin-left: 45%;
    text-align: center;
    cursor: pointer;
    padding:0.3rem
}
.AboutUsImg .fa-chevron-up{
    top:0%;
}
.AboutUsImg .fa-chevron-down{
    bottom: -20%;
}

.AboutUsImg  .fa-chevron-left,
.AboutUsImg  .fa-chevron-right {
    position: relative;
    z-index: 2;
    width: 20px;
    height: 20px;
    font-size: 1.5rem;
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
    display: none;
}

@media screen and (max-width:1024px){
    .AboutUsText a{
        width: 50%;
    }
    .AboutUsImg {
        position: relative;
        width: 100%;
        display: flex;
        left: 0%;

        justify-content: center;
        align-items: center;
    }
    .list{
        position: relative;
        display: flex;
        flex-direction: row;
    }
    .Img {
        height: 200px;
    }
    .AboutUsImg .fa-chevron-up,
    .AboutUsImg .fa-chevron-down  {
        display: none;
    }
    .AboutUsImg  .fa-chevron-left,
    .AboutUsImg  .fa-chevron-right {
        display: block;
    }

}
@media screen and (max-width:768px){
    .nav-logo {
        display: block;
    }
    .nav-branch {
        display: none ;
    }
    .nav-branch .nav-items {
        padding: 1rem 1rem;
    }
    .nav-burger {
        display: block !important;
    }
    .nav-branch-logo {
        display: none;
    }
    .AboutUs img {
        width: 100%
    }
    .AboutUsText {
        display: block;
        height: auto;
    }
    .AboutUsImg {
        padding-top: 2rem;
    }
    .AboutUsImg img{
        width: 250px;
    }
    .AboutUsImg  .fa-chevron-left,
    .AboutUsImg  .fa-chevron-right {
        display: block;
    }
}

/*--*/
.none {
    display: none;
}


/* 鼠标滑动箭头上时，背景色加深 */
.arrow:hover{background: rgba(0,0,0,.7);}
/* 鼠标滑动到轮播区域时，两个箭头显示 */
#wrapper:hover .arrow{display: block;}
/* 设置两个箭头位置 */


