/*-import VariableCSS.file-*/
@import url(../css/css-variable.css);
/*--------Global--------*/
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 15px;
    color: var(--text-color)
}
/*--------Nav----------*/
.navbar {
    display: block;
    position: relative;
}
.nav-branch {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    list-style: none;
    font-size: 0.9rem;
}
.nav-branch .nav-logo,
.nav-branch .nav-items {
    position: relative;
    padding: 0rem 3rem;
    margin: 1px;
    text-align: center;
    
}
.nav-items:hover::before{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    content:" ";
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    animation-name: navItem;
    animation-duration:0.7s;
    animation-fill-mode: forwards;
    -webkit-animation-name: navItem;
    -webkit-animation-duration:0.7s;
}
.homePage{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
.homePageBackGround {
    background-image: url(../img/homePage.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 450px;
}

@keyframes navItem{
    0% {
        height:0;
    }
    100% {
        height: 100%;
    }
}
@-webkit-keyframes navItem{
    0% {
        height:0;
    }
    100% {
        height: 100%;
    }
}
/*-------ABOUT US-------*/
.AboutUsTitle {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3rem 1rem ;
}
.AboutUsTitle a{
    font-size: 2rem;
    color: var(--primary-color);
}
.TitleDot {
    display: block;
    border-radius: 50%;
    background-color: var(--border-color);
    width: 10px;
    height: 10px;
    margin: 1.2rem;
}
.AboutUs {
    display: flex;
    position: relative;
    padding: 0.5rem
}
.AboutUsText {
    padding: 1rem;
    line-height: 2rem;
}
@media screen and (max-width:768px){
    .AboutUs {
        display: block;
    }
    .AboutUs img {
        width: 100%;
    }
}