/*-import VariableCSS.file-*/
@import url(../css/css-variable.css);
/*--------Global--------*/
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    font-size: 15px;
    color: var(--text-color)
}
a {
    text-decoration: none;
    color: var(--text-color)
}
a:visited {
    color: var(--text-color);
}
.none {
    display: none;
}

/*--------Nav----------*/
.navbar {
    display: block;
    position: relative;
}
.nav-logo {
    position: absolute;
    top: 0.5rem;
    left: 47%;
    display: none;
}
.nav-branch {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    list-style: none;
    font-size: 0.9rem;
    transition: all 1s ease;
}
.nav-branch .nav-branch-logo,
.nav-branch .nav-items {
    position: relative;
    padding: 0rem 3rem;
    margin: 1px;
    text-align: center;
    
}
.nav-items:hover::before{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    content:" ";
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    animation-name: navItem;
    animation-duration:0.7s;
    animation-fill-mode: forwards;
    -webkit-animation-name: navItem;
    -webkit-animation-duration:0.7s;
}
.nav-active {
    display: block !important;
}
/*--------Nav-Burger----------*/
.nav-burger {
    display: none;
    position: relative;
    padding: 1.3rem 1rem;
    cursor: pointer;
}
.burger-line {
    position: relative;
    display: block;
    width: 20px;
    height: 3px;
    margin: 3px;
    background-color: black;
}
.homePage{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
.homePageBackGround {
    background-image: url(../img/homePage.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 450px;
}

@media screen and (max-width:768px){
    .nav-logo {
        display: block;
    }
    .nav-branch {
        display: none ;
    }
    .nav-branch .nav-items {
        padding: 1rem 1rem;
    }
    .nav-burger {
        display: block !important;
    }
    .nav-branch-logo {
        display: none;
    }
    
}

@keyframes navItem{
    0% {
        height:0;
    }
    100% {
        height: 100%;
    }
}
@-webkit-keyframes navItem{
    0% {
        height:0;
    }
    100% {
        height: 100%;
    }
}
/*-------TitlePart-------*/

.TitlePart {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1.5rem 1rem ;
}
.TitlePart a{
    font-size: 2rem;
    padding: 1rem;
    color: var(--primary-color);
}
.TitleDot {
    border-radius: 50%;
    background-color: var(--border-color);
    width: 10px;
    height: 10px;
    margin: 1.2rem;
    display: none;
}
@media screen and (max-width:768px){
    .TitlePart img {
        display: none;
    }
    .TitleDot {
        display: block;
    }
}




/*---*/
.productContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}
.productCategory {
    display: flex;
    padding: 1rem 2rem;
}
.productCategoryList {
    padding: 0rem 2rem;
    border: 1px solid var(--border-color);
    cursor: pointer;
}
.prodcutList {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
}
.prodcutinfo-primary{
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
}
.productinfo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.prodcutItem{
    padding: 1rem;
}
.prodcutItemPoint {
    display: block;
    position: relative;
}
.prodcutItemPoint img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.prodcutItemName {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}
.prodcutItemPrice{
    font-size: 2rem;
}
.prodcutItemContent {
    font-size: 0.5rem;
}
.prodcutItemName-Primary {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}
.prodcutItemPrice-Primary {
    font-size: 3rem;
}
.prodcutItemContent-Primary {
    font-size: 1rem;
}