:root{
    /*Google Font*/
    /*Color*/
    --text-color:#9b9f99;
    --border-color:#757a75;
    --primary-color:#62635c;
    --title-color:#d08c60;
    --bottom-color:#f8f9fa;
    --background-color:#ffbd91;

    --box-shadow: 0px 8px 8px rgba(25, 25, 25, 0.2);
    --shadow: 0px 5px 5px rgba(20, 20, 20, 0.2);
    --gradient-color:  linear-gradient(150deg, #E7F7FC 0%, #909090 100%);
}