.footer{
    height: 200px;
    background-color: #faae7b;
    margin-top:3rem;
    color:#ffffff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 1rem;
}
.Social{
    position: relative;
    display: block;
}
.Social a{
    font-size: 1.5rem;
    color:#ffffff;
}
.Social i {
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}
.location {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 1rem;
}
.location a{
    font-size: 1.5rem;
    color:#ffffff;
}
.location iframe{
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 768px){
    .location {
        display: block;
    }
    .locationMap{
        display: none;
    }
}
@media screen and (max-width:481px){
    .Social i {
    
        padding: 0.5rem;
   
    }
}