
.Item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemPointImg {
    position: relative;
    display: block;
    width: 1024px;
}
.itemPointBackgroudImg{
    max-width: 100%;
}
.itemImg:hover{
    transition: all 1s ease;
    transform: scale(1.1);
}
.itemImg{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    animation:itemImg 2s infinite ; 
    cursor: pointer;
}
.itemShowContainer {
    display: block !important;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    background: rgba(0,0,0,0.8);
}
.itemShowImgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.itemShowImg {
    position: relative;
    object-fit: contain;
    z-index: 3;
    max-width: 45%;
    max-height: 100%;
}
.itemShow{
    display: none;
}
.itemShow i{
    font-size: 2rem;
}
.itemShow .leftarrowIcon {
    position: absolute;
    left: 5%;
    top: 50%;
    z-index: 4;
}
.itemShow .rightarrowIcon {
    position: absolute;
    right: 5%;
    top: 50%;
    z-index: 4;
}
.closeItemShow{
    position: absolute;
    left: 5%;
    top: 5%;
    z-index: 5;
}

@media screen and (max-width:768px){
    .itemShowImg {
        max-width: 60%;
    }
}
@media screen and (max-width:480px){
    .itemShowImg {
        max-width: 70%;
    }
}

@keyframes itemImg{
    50%{
        top:4px
    }
}


@media screen and (max-width:1025px){
    .itemPointImg {
        width: 768px;
    }
    .itemPointImg .itemImg{
        width: 75%;
    }
}
@media screen and (max-width:769px){
    .itemPointImg {
        width: 576px;
    }
    .itemPointImg .itemImg{
        width: 55%;
    }
}
@media screen and (max-width:577px){
    .itemPointImg {
        width: 480px;
    }
    .itemPointImg .itemImg{
        width: 48%;
    }
}
@media screen and (max-width:481px){
    .container{
        width: 320px;
    }
    .itemPointImg .itemImg{
        width: 30%;
    }
}
@media screen and (max-width:321px){
    .container{
        width: 240px;
    }
    .itemPointImg .itemImg{
        width: 20%;
    }
}