
.Item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.itemImg {
    position: relative;
    display: block;
    background-image:url(../img/itembackground.jpeg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
    width: 1024px;
    height: 550px;
}
.itemImg img:hover{
    transition: all 1s ease;
    transform: scale(1.1);
}
.itemGroup {
    display: none;
}
.itemContent {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    margin: 1rem 3rem;
    color: var(--text-color);
    box-shadow: 0 0 5px var(--primary-color);
    cursor: pointer;
}
.itemContent a{
    font-size: 2rem;
    padding: 1rem;
}

.itemContent .itemContentImg {
    width: 50px;
    height: 70px;
}
.itemShowContainer {
    display: block !important;
    position: fixed;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    top: 0; left: 0;
    background: rgba(0,0,0,.6);
}
.itemShowImg {
    position: fixed;
    top: 10%;
    left: 7%;
    margin: 30px;
    align-self: center;
    object-fit: contain;
    z-index: 6;
    max-width: 80%;
}
.itemShow{
    display: none;
}
.itemShow i{
    font-size: 2rem;
}

@media screen and (max-width:1024px){
    .itemImg {
        display: none;
    }
    .itemGroup {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
}