
/*---*/
.product {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product .container{
    align-items: flex-start;
}
.productItemGroup {
    display: block;
    position: relative;
    flex: 2 1 60%;
}
.productItemCarousel{
    flex: 1 2 40%;
    padding: 2rem;
}
.productCategory {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}
.productCategoryList {
    font-size: 1.2rem;
    padding: 0rem 2rem;
    border-left: 1px solid var(--border-color);
    cursor: pointer;
}
.productCategory div:last-child {
    border-right: 1px solid var(--border-color);
}
.prodcutList {
    display: flex;
    flex-wrap: wrap;
}

.productinfo{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
.prodcutItem{
    padding: 0.5rem;
}
.prodcutItemPoint {
    display: block;
    position: relative;
}
.prodcutItemPoint img{
    width: 100%;
    height: 150px;
    object-fit:cover;
}

.prodcutItemName {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.prodcutItemContent {
    font-size: 0.5rem;
}
.productItemCarousel img{
    width: 100%;
}
.productItemCarouselName{
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.productItemCarouselPrice{
    font-size: 1.5rem;
}

.productPage {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 1024px){
    .product .container{
        align-items: center;
    }
}
@media screen and (max-width: 768px){
    .productItemCarouselName{
        display: none;
    }
    .productItemCarouselPrice{
        display: none;
    }
    .prodcutItemCarouselContent {
        display: none;
    }
    .product .container{
        align-items: center;
    }
    .product .container{
        flex-direction: column;
    }
    .productItemCarousel{
        order: 1;
        padding: 0;
    }
    .productItemCarousel img{
        height: 220px;
    }
    .productItemGroup{
        order: 2;
    }
}

@media screen and (max-width: 576px){
    .prodcutinfo-primary{
        display: block;
    }
    .productinfo{
        display: block;
    }
    .productCategoryList{
        height: 100px;
        padding: 0 1.5rem;
        font-size: 0.5rem;
    }  
}
