.productSinglePageImg {
    max-width: 100%;
}
.productSinglePageInfo{
    display: grid;
    grid-template-columns: 3.5fr 2.5fr;
    text-align: right;
}
.productSinglePageName{
    font-size: 2.5rem;
}
.productSinglePagePrice{
    font-size: 1.5rem;
}
@media screen and (max-width:577px){
    .productSinglePageInfo{
        display: block;
        text-align: left;
    }
}
@media screen and (max-width: 768px){
.locationMap {
    display: none;
}
}