.productSinglePageImg {
    max-width: 100%;

}
.productSinglePageInfo{
    display: grid;
    grid-template-columns: 3.5fr 2.5fr;
    text-align: right;
}
.productSinglePageName{
    font-size: 2.5rem;
}
.productSinglePagePrice{
    font-size: 1.8rem;
}
.productCountQua{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1rem;
}
.productCountQua button{
    width: 1.5rem;
    height: 1.5rem;
}
.productCountQua a{
    font-size: 1rem;
}
.addCart{
    width: 6rem;
    padding: 0.2rem;
    font-size: 1rem;
}
#addCart{
    display: none;
    z-index: 10;
    padding: 1rem;
    background: var(--primary-color);
    left: 35%;
    top: 40%;
    color: #fff;
    position: fixed;
    width: 120px;
    height: 30px;
    text-align: center;
    border-radius: 2px;
}
@media screen and (max-width:577px){
    .productSinglePageInfo{
        display: block;
        text-align: left;
    }
}
@media screen and (max-width: 768px){
.locationMap {
    display: none;
}
}