.shopCart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cartData{
    padding: 1rem 2rem;
    
}
.cartData img{
    width: 100px;
    height: 100px;
    padding: 0 1rem;
}
.cartDataInfo{
    width: 100%;
    font-size: 1rem;
    display: flex;
    box-shadow: 1px 1px 3px var(--primary-color);
}
.cartDataInfo .img_name{
    flex: 2 1 60%;
    font-size: 2rem;
    display: flex;
    align-items: center;
}
.cartDataInfo .quaity_price{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 2 40%;
}
.quaity_price .quaity{
    padding-right: 2rem;
}
.quaity_price .price{
    padding-right: 1rem;
}
#shopCartTotalPrice{
    width: 100%;
    font-size: 2rem;
    border-top: 1px solid var(--border-color);
    text-align: right;
}

#reviseCart{
    display: none;
    z-index: 10;
    padding: 1rem;
    background: var(--primary-color);
    left: 35%;
    top: 40%;
    color: #fff;
    position: fixed;
    width: 150px;
    height: 25px;
    text-align: center;
    border-radius: 2px;
}
#deleteCart{
    display: none;
    z-index: 10;
    padding: 1rem;
    background: var(--primary-color);
    left: 35%;
    top: 40%;
    color: #fff;
    position: fixed;
    width: 150px;
    height: 25px;
    text-align: center;
    border-radius: 2px;
}
#loading{
    display: block;
    z-index: 10;
    padding: 1rem;
    background: var(--primary-color);
    left: 35%;
    top: 40%;
    color: #fff;
    position: fixed;
    width: 150px;
    height: 25px;
    text-align: center;
    border-radius: 5px;
}